name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  test:
    name: Test and Coverage
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'

    - name: Download dependencies
      run: go mod tidy

    - name: Run tests with coverage
      run: |
        go test ./... \
          -coverprofile=coverage.out \
          -covermode=atomic

    - name: Show coverage summary
      run: go tool cover -func=coverage.out
    
    # - name: Fail if coverage < 80%
    #   run: |
    #     COVERAGE=$(go tool cover -func=coverage.out | grep total | awk '{print $3}' | sed 's/%//')
    #     if (( $(echo "$COVERAGE < 80" | bc -l) )); then
    #       echo "Coverage too low"
    #       exit 1
    #     fi

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}